<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/ftc">Full Throttle Champs</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="#">Schedule <span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="#">Entry List</a></li>-->
            <!--<li><a href="#">Hotels</a> </li>-->
            <!--<li><a href="#">Rules</a> </li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>